<div class='Footer_Main'>
    <div class='Footer_Left'>
        <div class='Footer_Left_L'>
            <h4>Menu</h4>
            <ul>
                <li>Home</li>
                <li>Pricing</li>
                <li>Documentation</li>
                <li>Support</li>
            </ul>
        </div>
        <div class='Footer_Left_R'>
            <h4>Resources</h4>   
            <ul>
                <li>Legal and Policies</li>
                <li>Security and Compliance</li>
                <li>Status</li>
            </ul>
        </div>
    </div>
    <div class='Footer_Right'>
        <p>CloudOEPP</p>
        <button>Support</button>
    </div>
</div>