<div class='Learn_Main'>
    <h2>New to CloudOEPP</h2>
    <h4> Learn about CloudOEPP technology and how to implement it. </h4>
    <div class='Learn_Inner'>
        <div  class='Learn_Inner_Content'>
            <img src="../../assets/blog.png" alt="" />
            <p>Blog</p>
        </div>
        <div  class='Learn_Inner_Content'>
            <img src="../../assets/email.png" alt="" />
            <p>Docs</p>
        </div>
        <div  class='Learn_Inner_Content'>
            <img src="../../assets/faq.png" alt="" />
            <p>FAQ</p>
        </div>
    </div>
</div>
