<div class='About_Main'>
    <h2>Reasons You Will Love CloudOEPP</h2>
    <div class='About_Inner'>
        <div class='About_Inner_Content'>
            <img src="../../assets/about1.svg" alt="" />
            <h3>Text Here</h3>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        </div>
        <div class='About_Inner_Content'>
            <img src="../../assets/about2.svg" alt="" />
            <h3>Text Here</h3>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        </div>
        <div class='About_Inner_Content'>
            <img src="../../assets/about3.svg" alt="" />
            <h3>Text Here</h3>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        </div>
        <div class='About_Inner_Content'>
            <img src="../../assets/about4.svg" alt="" />
            <h3>Text Here</h3>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        </div>
        <div class='About_Inner_Content'>
            <img src="../../assets/about5.svg" alt="" />
            <h3>Text Here</h3>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        </div>
        <div class='About_Inner_Content'>
            <img src="../../assets/about6.svg" alt="" />
            <h3>Text Here</h3>
            <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</p>
        </div>
    </div>
</div>