<div class="instance_main">
    <div class="instance_nav">
        <img routerLink="" class="logo" src="../../assets/cloud.png" alt="ClouedOEPP" width="90%" >
        <div class="instance_nav_instance">
            <fa-icon [icon]="faServer" class="fa-2x"></fa-icon>
            Instances
            <div class="instance_instance_hover">
                <span>List all</span>
                <span>Create new instance</span>
            </div>
        </div>
        
        <div class="instance_nav_user">
            <fa-icon [icon]="faUser" class="fa-2x"></fa-icon>
            User
            <div class="instance_nav_user_hover">
                <span>Profile</span>
                <span>Logout</span>
                <span>Some</span>
            </div>
        </div>
    </div>
    <!-- Middle Body -->
    <div class="instance_body">
        
        <div class="instance_container">
            <div style="display: flex; justify-content:space-between; align-items: center;">
                <h3>Instances</h3>
                <button>Create New Instance</button>
            </div>
            
            <div class="instance_instances">
                <div class="instance_instances_tags">
                    <span>Name</span>
                    <span>Datacenter</span>
                    <span>Plan</span>
                </div>
                <div class="instance_instances_server">
                   <div class="servers">
                    <span>DS001</span>
                    <span>Delhi</span>
                    <span>Free</span>
                   </div>
                   <div class="servers">
                    <span>DS001</span>
                    <span>Delhi</span>
                    <span>Free</span>
                   </div>
                   
                </div>
            </div>
        </div>
        <img src="../../assets/instances.svg" alt="image">
    </div>
    <!-- Footer -->
   
</div>
