<div class='Hero_Main'>
    <div class='Hero_Upper'>
        <h1>Internet of Things</h1>
        <h2>Donec tristique tortor a justo imperdiet mattis</h2>
        <img src="../../assets/hero.svg" alt="Image" />
        <button>Click Here To Do..</button>
    </div>
    <div class='Hero_Lower'>
        <div class='Hero_Lower_Inner'>
            <div class='Hero_Lower_Inner_Content'>
                <img src="../../assets/clickbait.svg" alt="clickbait" />
                <h3>Something Here</h3>
                <p>In pharetra nulla non sapien scelerisque, sit amet pulvinar nisi accumsan.</p>
            </div>
            <div class='Hero_Lower_Inner_Content'>
                <img src="../../assets/coding.svg" alt="clickbait" />
                <h3>Something Here</h3>
                <p>In pharetra nulla non sapien scelerisque, sit amet pulvinar nisi accumsan.</p>
            </div>
            <div class='Hero_Lower_Inner_Content'>
                <img src="../../assets/searching.svg" alt="clickbait" />
                <h3>Something Here</h3>
                <p>In pharetra nulla non sapien scelerisque, sit amet pulvinar nisi accumsan.</p>
            </div>
        </div>
    </div>
</div>
